<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.3" name="javaee.api">
    <resources>
    </resources>

    <dependencies>
        <module name="javax.transaction.api" export="true"/>

        <!-- This one always goes last. -->
        <module name="javax.api" export="true"/>
    </dependencies>
</module>