<?xml version="1.0" encoding="UTF-8"?>

<!--TODO !embededd-->
<module xmlns="urn:jboss:module:1.5" name="org.infinispan.remote-query.server" slot="@infinispan.module.slot@">
    <resources>
        <artifact name="${org.infinispan:infinispan-remote-query-server}"/>
    </resources>
    <dependencies>
        <module name="javax.api" />
        <module name="javax.transaction.api" />
        <module name="org.hibernate.search.engine" slot="@infinispan.module.slot@"/>
        <module name="org.infinispan" slot="@infinispan.module.slot@"/>
        <module name="org.infinispan.server" slot="@infinispan.module.slot@"/>
        <module name="org.infinispan.protostream" slot="@infinispan.module.slot@"/>
        <module name="org.infinispan.objectfilter" slot="@infinispan.module.slot@"/>
        <module name="org.infinispan.query" slot="@infinispan.module.slot@"/>
        <module name="org.infinispan.query.dsl" slot="@infinispan.module.slot@"/>
        <module name="org.infinispan.remote-query.client" slot="@infinispan.module.slot@"/>
        <module name="org.jboss.logging" />
    </dependencies>
</module>
