<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.jboss.sasl">

    <resources>
        <artifact name="${org.jboss.sasl:jboss-sasl}"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="org.jboss.logging"/>
    </dependencies>
</module>
