<?xml version="1.0" encoding="UTF-8"?>

<Configuration name="CommandLineConfig" packages="org.infinispan.commons.logging.log4j">
  <Properties>
    <Property name="infinispan.module-suffix"/>
    <Property name="infinispan.log.path">target</Property>
  </Properties>

  <Appenders>
    <Console name="STDOUT">
      <PatternLayout pattern="%highlight{%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p (%t) [%c] %m%throwable}{INFO=normal, DEBUG=normal, TRACE=normal}%n"/>
    </Console>
    <!-- Use the sys: lookup so system properties set on the command line are preferred -->
    <File name="File" fileName="/home/remerson/workspace/logs/infinispan/infinispan${sys:infinispan.module-suffix}.log"
          append="false">
      <PatternLayout pattern="%d{HH:mm:ss,SSS} %-5p (%t:%x) [%c{1}] %m%n"/>
    </File>
  </Appenders>

  <Loggers>
    <Logger name="org.testng" level="INFO"/>
    <Logger name="org.jgroups" level="INFO"/>
    <Logger name="org.infinispan" level="INFO"/>
    <!-- <Logger name="org.infinispan.server.hotrod" level="ALL"/> -->
    <Logger name="org.infinispan.server.core.backup" level="ALL"/>

    <Root level="INFO">
      <AppenderRef ref="STDOUT" level="ALL"/>
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>
