<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="javax.resource.api">
    <resources>
        <artifact name="${org.jboss.spec.javax.resource:jboss-connector-api_1.7_spec}"/>
    </resources>

    <dependencies>
        <module name="javax.transaction.api" export="true"/>
        <module name="javax.api" export="false">
            <exports>
                <include path="javax/naming"/>
            </exports>
        </module>
    </dependencies>
</module>
