<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.5" name="org.jboss.as.vault-tool">
    <properties>
        <property name="jboss.api" value="private"/>
        <property name="jboss.require-java-version" value="1.7"/>
    </properties>

    <main-class name="org.jboss.as.security.vault.VaultTool"/>

    <resources>
    </resources>

    <dependencies>
        <module name="org.jboss.as.security"/>
        <!--<module name="org.picketbox.common-spi"/>-->
        <!--<module name="org.picketbox.spi"/>-->
        <!--<module name="org.picketbox.jbosssx"/>-->
    </dependencies>
</module>
