<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.3" name="javax.security.jacc.api">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.jboss.spec.javax.security.jacc:jboss-jacc-api_1.5_spec}" />
    </resources>

    <dependencies>
    </dependencies>
</module>
